.board-container {
    aspect-ratio: 1;
    align-content: center;
    gap: 10px;
    background-color: #244cdd;
    padding: 10px;
    min-width: var(--min-board-size);
    min-height: var(--min-board-size);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
}

.active {
    width: 50%;
    height: 50%;
    max-width: 600px;
    max-height: 600px;
}

.grid {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    width: 95%;
    height: 95%;
}

.grid-template-3 {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 100%;
}

.grid-template-4 {
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.grid-template-5 {
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.grid-template-6 {
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}

.loading {
    display: flex;
    animation: fade 2s linear infinite;
}

@keyframes fade {
    0%, 100% {opacity: 0}
    50% {opacity: 1}
}